.login-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.input-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.input-box label{
    margin-bottom: 8px;
}
.input-field{
    background: none;
    border: 1px solid #ededed;
    padding: 10px;
    outline-color: white;
    border-radius: 5px;
    color: white;
    width: 100%;
}
.login-button{
    width: 100%;
    border-radius: 25px;
    padding: 10px;
    font-weight: bold;
}